/**
 * Custom styles for blog section to match live site
 */

/* Blog section - equal height posts */
.row-equal-height {
  display: flex;
  flex-wrap: wrap;
}

.row-equal-height > [class*='col-'] {
  display: flex;
}

.row-equal-height article.post {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.row-equal-height article.post .post-content {
  flex: 1;
}

/* Date badge - match live site dark navy color */
article.post .date {
  background-color: #1e2832 !important;
}

article.post .date .day,
article.post .date .month {
  color: #fff !important;
}

/* Blog cards - align date box to title top line (ARC-733) */
article.post.post-large .post-date {
  position: relative;
  float: left;
  margin-right: 15px;
  margin-top: 0;
}

/* Adjust post-content to flow next to date box */
article.post.post-large .post-content {
  overflow: hidden;
}
